<div class="content_container container-fluid">
  <div class="row about-cofax-page">
    <div class="col-md-6 col-md-offset-3 center">
      <h1>About Cofax Copiers</h1>
      <br/>
      <p>Based out of Downers Grove, Cofax Copier Systems has been serving Chicago's West Suburbs since 1991.</p>
      <p>Cofax has established a reputation for reliable copier installation and maintenance, with competitive pricing and superior service.</p>
      <p>Known for providing a responsive, professional, and hassle-free experience when it comes to your copier and printer system needs, Cofax is an American Small Business at its very best.</p>
    </div>
  </div>

  <div class="row about-services-container">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3 center">
        <h3>Services</h3>
        <ul class="about-services-list">
          <li>Print / Copy / Scan / Fax</li>
          <li>Includes Toner</li>
          <li>Wireless</li>
          <li>Set-up is <b>free</b></li>
          <li>Networking at no extra cost (<em>does not include wiring</em>)</li>
          <li>Easy Communication and Responsive Service</li>
          <li>Years of Expertise</li>
        </ul>
      </div>
    </div>
  </div>
</div>
