<div class="page_container">

  <div class="container_for_background">
    <div class="content_container container-fluid">

      <div class="row">
        <div class="serving-chicago-container col-md-6 col-md-offset-3 center">
          <h3 class="center">SERVING CHICAGOLAND SINCE 1986</h3>
          <br/>
          <p>Tom Fox has been installing wallpaper and painting in the Chicagoland area since 1986.  He is a graduate of the American School of Paper Hanging Arts in Commerce, Georgia.</p>
          <p>Because of his continuous work in wallcovering through the years, even as wallpaper declined as a trend around 2000, Tom is currently one of the most experienced and qualified paper-hangers in the Chicago suburbs.</p>
          <p>In recent years, as wallpaper has come back into favor as an interior design choice, Tom has used his expertise to complete many unique and first-class wallcovering projects.</p>
          <p>Over the years, Tom has earned a reputation for first-class work, friendly service, and a great overall wallpaper-installation experience.</p>
        </div>
      </div>

    </div>
  </div>
</div>
