<div class="thank-you-page">
  <h1 class="center">Thanks for your message!</h1>

  <div class="row">
    <div class="center col-12">
      <p>We will be in touch with you soon.</p>
    </div>
  </div>
</div>
